<h1>Hey <%= @user.username %>!</h1>
<% if @user.hobbies.count > 0 %>
    <h2>Here are your hobbies:</h2>
        <% @user.hobbies.each do |h| %>
            <h3><%= link_to h.name, h %><br></h3>
        <% end %>
    <% else %>
        <h2>You haven't added any hobbies to your profile yet!</h2>
    <% end %>

<% if @created_hobbies.count > 0 %>
    <h2> Here are the hobbies you have contributed:</h2>
    <% @created_hobbies.each do |h| %>
        <h3><%= link_to h.name, h %><br></h3>
    <% end %>
<% end %>