<h1>Hey there, <%= session[:username] %>!</h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

<h2>Look For New <%= link_to "Hobbies", '/hobbies' %></h2>
