/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 /* Custom bootstrap variables must be set or imported *before* bootstrap. */
 @import "bootstrap";
 body {
  --main-text: #333;
  --red: #f9595a;
  --yellow: #f8d071;
  --green: #48ab82;
  --turquoise: #147178;
  --white: #ffffff;
  --off-white: #fdfdea;
  --transparent-black: #000000ab;
  --side-spacing: 2.25%;

  color: var(--main-text);
  background-color: var(--off-white);
  font-family: 'Times New Roman', Times, serif;
  line-height: 18px;
  position: relative;
  min-height: 100vh;
}


input,
textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}


.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 80px;
  margin: 20px 0;
  grid-auto-rows: 250px;

  
}

.categories .category {
  position: relative;
  width: 100%;
}

.categories .category .image {
  width: 100%;
  height: 100%;
}


.categories .category .info {
  position: absolute;
  bottom: 0.5;
  left: 0;
  color: var(--white);
  background: var(--transparent-black);
  padding: 10px;
  width: calc(73% - 20px);
  height: 50px;
  display: flex;
  flex-direction: column;
}



.cat-show {
  margin-top: 10px;
}

.cat-show img {
  object-fit: cover, center;
  width: 100%;
  height: 400px;
}

.ino {
  position: relative;
  bottom: 0;
  left: 0;
  color: var(--white);
  background: var(--transparent-black);
  padding: 10px;
  width: calc(73% - 20px);
  height: 70px;
  display: flex;
  flex-direction: column;
}

.cat-show .description {
  font-size: 22px;
  line-height: 30px;
}

.hobbies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 80px;
  margin: 20px 0;
  grid-auto-rows: 250px;

  
}

.hobbies .hobby {
  position: relative;
  width: 100%;
}

.hobbies .hobby .image {
  width: 100%;
  height: 100%;
}


.hobbies .hobby .info {
  position: absolute;
  bottom: 0.5;
  left: 0;
  color: var(--white);
  background: var(--transparent-black);
  padding: 10px;
  width: calc(54.6% - 20px);
  height: 50px;
  display: flex;
  flex-direction: column;
}

