<h1>Hobby Categories:</h1>
<div class="categories">
   <% @categories.each do |c| %>
   <div class="category">
      <div class="image">
         <img src="<%= c.image %>" width="500" height="300" alt="photo" />
      </div>
      <div class="info">
         <%= link_to c.name, c %> <% c.hobbies.each do |h| %> <%= h.name %> |<% end %>
      </div>
   </div>
   <% end %>
</div>
